.music-categories{
    margin-left: -8px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    padding-top: 20px;
}

.category{
    display: flex;
    align-items: center;
    padding: 10px 8px;
    background-color: rgb(255, 255, 255,0.1);
    font-size: 14px;
    border-radius: 7px;
    transition: 0.2s;
}

.category:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255,0.3);
}